<section id="main-sec">
     <h1 id="main-sec-logo">記事一覧</h1>

     <div id="articles">
     <% @articles.each do |article| %>
     <div class="articles-format">
          <a href="<%= article[:href] %>">
          <div class="article">
               <div class="article-img"><img src="<%= article[:img_src] %>"></div>
               <h1 style="font-size: 15px;"><%= article[:title] %></h1>
          </div>
          </a>
     </div>
     <% end %>
     </div>
</section>