<section id="main-sec">
     <h1 id="main-sec-logo">ランキング</h1>

     <ul class="ranking">
          <li><strong>1. <a href="/">タイトル1</a></strong> <span>(100 views)</span></li>
          <li><strong>2. <a href="/">タイトル2</a></strong> <span>(95 views)</span></li>
          <li><strong>3. <a href="/">タイトル3</a></strong> <span>(80 views)</span></li>
     </ul>
</section>

<section id="main-sec">
     <h1 id="main-sec-logo">最新記事</h1>
     
     <div id="articles">
     <% @articles.each do |article| %>
     <div class="articles-format">
          <a href="<%= article[:href] %>">
          <div class="article">
               <div class="article-img"><img src="<%= article[:img_src] %>"></div>
               <h1 style="font-size: 15px;"><%= article[:title] %></h1>
          </div>
          </a>
     </div>
     <% end %>
     </div>

     <a href="/blog" id="blog"><button>記事一覧を見る</button></a>
</section>