<section id="newest">
     <h1>最新記事</h1>
     <div id="newest-articles">
          <a href="/blog/gem"><div class="article">
               <img src="/odango.png">
               <div>
                    <h1 style="font-size: 20px;">RailsでGemを活用した開発をしたい</h1>
                    <p style="font-size: 17.5px;">2024/03/22</p>
               </div>
          </div></a>
     </div>
</section>