<section id="service">
     <div class="service-top">
          <img src="/ma02_desk02.png">
          <h1>プライバシーポリシー</h1>
     </div>
     <div class="service-main">
          <p>このウェブサイトは、利用者の個人情報の収集および利用を行いません。ブログ記事の閲覧に関連する情報（IPアドレス、ブラウザの種類、アクセス時間など）は、サイト運営者のみがアクセスログとして収集し、ウェブサイトの改善やセキュリティの確保のために使用されます。この情報は第三者と共有されることはありません。</p>
          <p>本サイトは外部サイトへのリンクを含む場合がありますが、そのリンク先のウェブサイトにおけるプライバシーポリシーについては、本サイトは責任を負いません。</p>
          <p>個人情報の取り扱いに関するお問い合わせは、以下の連絡先までご連絡ください。</p>

          <p>連絡先：572.r.knt@gmail.com</p>
     </div>
</section>