<section id="service">
     <div class="service-top">
          <img src="/handshake.png">
          <h1>利用規約</h1>
     </div>
     <div class="service-main">
          <p>このウェブサイトの利用には、以下の利用規約に同意する必要があります。本ウェブサイトを利用することで、これらの利用規約に同意したものとみなされます。</p>
          <h1>1. サイトの利用</h1>
          <p>本サイトは、利用者に対し、ブログ記事の閲覧を提供するものであり、それ以外の目的での利用は禁止されています。</p>
          <h1>2. 知的財産権</h1>
          <p>本サイトに掲載されているコンテンツ（文章、画像、その他の素材）の著作権および知的財産権は、サイト運営者または関連する権利者に帰属します。また、一部のコンテンツには「3Dfun」（https://3d-fun.graphics）様の素材が含まれています。これらのコンテンツを無断で複製、配布、改変することは禁止されています。</p>
          <h1>3. 免責事項</h1>
          <p>本サイトのコンテンツは情報提供を目的としており、その正確性や完全性については保証されません。利用者は本サイトの情報を自己の責任で利用するものとし、その利用によって生じたいかなる損害についても、サイト運営者は一切の責任を負いません。</p>
          <h1>4. サービスの変更</h1>
          <p>サイト運営者は、事前の通知なしに本サイトの提供内容や利用規約を変更、修正、または中止する権利を留保します。</p>
          <h1>5. 準拠法および管轄裁判所</h1>
          <p>本利用規約は日本法に準拠し、日本の裁判所が専属的な管轄権を有します。</p>
     </div>
</section>