<section id="main">
     <div class="main-top">
          <img src="/see.png">
          <h1>CSSの疑似要素</h1>
          <p>もっと簡単に細かいデザインをしてみたい！</p>
     </div>

     <div id="main-article">
          <h1>疑似要素とは</h1>
          <p>CSSの擬似要素は、セレクターに付加するキーワードで、選択された要素の特定の部分にスタイル付けできるようにするものです。</p>

          <h1>:beforeと:after</h1>
          <ul>
               <li><span class="code">:before</span>擬似要素は、指定された要素の最初の子要素の前に挿入されます。</li>
               <li><span class="code">:after</span>擬似要素は、指定された要素の最後の子要素の後に挿入されます。</li>
          </ul>
          <h2>:beforeを使った見出しデザイン</h2>
          <iframe height="300" style="width: 100%;" scrolling="no" title="CodePen Embed" src="https://codepen.io/572_knt/embed/preview/jORmZqa?height=300&theme-id=0&default-tab=html,result" frameborder="no" allowtransparency="true" allowfullscreen="true">
               See the Pen <a href='https://codepen.io/572_knt/pen/jORmZqa'>CSSの疑似要素1</a> by Your Name (<a href="https://codepen.io/572_knt">@572_knt</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>

          <h1>::selection</h1>
          <p>選択されたテキストの部分のみに適用するスタイルをカスタマイズできます。</p>
          <p>このサイトも::selectionを使って色を少し薄めにしています。</p>
     </div>
</section>     