<section id="main">
     <div class="main-top">
          <img src="/odango.png">
          <h1>RailsでGemを活用した開発をしたい</h1>
          <p>よく聞く"Gem"ってやつでRailsの開発をより楽しく簡単にしてみたい！</p>
     </div>

     <div id="main-article">
          <h1>Gemとは</h1>
          <p>gemとは、Ruby on Railsで使用される拡張ライブラリやパッケージのことです。</p>
          <h1>実際に追加してみる</h1>
          <h2>1. gemの検索</h2>
          <p>まず、追加したいgemが存在するかどうかを確認するために、次のコマンドを実行します。</p>
          <pre>
               <code>gem search gem名</code>
          </pre>
          <h2>2. gemのインストール</h2>
          <p>gemが見つかったら、次のコマンドを使ってgemをインストールします。</p>
          <p>例えば、<span class="code">rails</span>をインストールする場合は、次のようにします。</p>
          <pre>
               <code>gem install rails</code>
          </pre>
          <h3>gemのバージョン指定</h3>
          <p>特定のバージョンのgemをインストールしたい場合は、次のようにバージョン番号を指定します。</p>
          <pre>
               <code>gem install gem名 -v バージョン番号</code>
          </pre>
     </div>
</section>     