<!DOCTYPE html>
<html>
  <head>
    <title>konatsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/"><img src="/app-logo.png"></a>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>&copy; Copyright 2024</p>
      <p><a href="/terms">利用規約</a>と<a href="/privacy">プライバシー規約</a></p>
    </footer>
  </body>
</html>
